/* the base */
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(./media/ARIAL.TTF) format("TrueType"); 
}
* {
    font-family: 'OpenSans';
    margin: 0;
    padding: 0;
    border: none;
    outline: node;
    text-decoration: none;

    
    /* text-decoration: underline; */
    /* border: 1px solid #000; */
}

.start_page_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-flow: column;
    gap: 25px;

  
}


input {
    width: 650px;
    height: 30px;
    padding: 10px;  
    border: 1px solid gainsboro;
    border-radius: 30px;
    
}




.google_name_logo {
    width: 280px;
    
}    

.top_line {
    display: flex;
    height: 30px;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.top_text1 {
    text-align: right;
    color: rgba(0,0,0,.87);
    font-size: 13px;   
}

.bottom_text1 {
    display: flex;
    font-size: 15px;
    padding: 15px 30px;
    border-bottom: 1px solid grey;
    flex-flow: wrap;

}

.bottom_line {
    width: 100%;
   
}

.bottom_text2 {
    display: flex;
    justify-content: start;
}
.bottom_text3 {
    display: flex;
    justify-content: end;
    
}




.bottom_line2 {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    /* border: 1px solid #000; */
}
.bottom_line2_1 {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    width: 400px
    /* border: 1px solid black; */
    gap: 30px;
}
.bottom_line2_2 {
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    width: 300px
    /* border: 1px solid black; */
    gap: 30px;
}






