/* the base */
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(./media/ARIAL.TTF) format("TrueType"); 
}
* {
    font-family: 'OpenSans';
    margin: 0;
    padding: 0;
    border: none;
    outline: bottom_linenode;
    text-decoration: none;

    
    /* text-decoration: underline; */
    /* border: 1px solid #000; */
}

.flex {
    display: flex;
    flex-flow: column;
}
.start_page_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    flex-flow: column;
    gap: 25px;

  
}


input {
    width: 650px;
    height: 30px;
    padding: 10px;  
    border: 1px solid gainsboro;
    border-radius: 30px;
    
}




.google_name_logo {
    width: 280px;
    
}    

.top_line {
    display: flex;
    height: 30px;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.top_text1 {
    text-align: right;
    color: rgba(0,0,0,.87);
    font-size: 13px;   
}

.bottom_line1 {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid #d2d2d2;;
    flex-flow: wrap;
    padding: 15px 15px 15px 30px;
}

.bottom_line {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: end;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0px;
}

.bottom_text2 {
    display: flex;
    justify-content: start;
}
.bottom_text3 {
    display: flex;
    justify-content: end;  
}




.bottom_line2 {
    display: flex;
    width: 100%;
    justify-content: center;
}
.bottom_line2_1 {
    display: flex;
    flex-flow: wrap;
    justify-content: start;width: 100%;
    width: 50%;
    gap: 15px;
    padding: 15px 15px 15px 30px;

}
.bottom_line2_2 {
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    width: 50%;
    gap: 30px;
    padding: 15px 30px 15px 15px;

}

.seach_add {
    display: flex;

}
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: Google Sans,Arial,sans-serif;
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: 400;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}






