* {
    margin: 0;
    padding: 0;
    border: none;
    outline: node;
    /* border: 1px solid #000; */
}

.start_page_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    gap: 25px;

  
}

.search_bar {
    
}
input {
    width: 650px;
    height: 30px;
    padding: 10px;  
    border: 1px solid gainsboro;
    border-radius: 30px;
    
}




.google_name_logo {
    width: 280px;
    
}    
