* {
    margin: 0;
    padding: 0;
    border: none;
    outline: node;
    
    /* text-decoration: underline; */
    /* border: 1px solid #000; */
}

.start_page_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-flow: column;
    gap: 25px;

  
}


input {
    width: 650px;
    height: 30px;
    padding: 10px;  
    border: 1px solid gainsboro;
    border-radius: 30px;
    
}




.google_name_logo {
    width: 280px;
    
}    

.top_line {
    display: flex;
    height: 50px;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.top_text1 {
    text-align: right;
    flex-flow: wrap;
    font-size: 12px;
    /* color: black; */


}